.container {
    width: 1000px;
    padding: 15px;
    margin: 0 auto;
}

.calcHeading {
    font-size: 15px;
}

.changers {
    display: block;
    margin-top: 15px;
}

.calc {
    margin: 0 auto;
    width: 500px;
}

.allLine {
    margin: 5px;
    display: flex;
    align-items: center;
    width: 270px;
}

.allTxt {
    width: 70%;
}

.allLine input {
    width: 40px;
}

.allArea {
    font-size: 13px;
    width: 30%;
}

.priceForAll,
.priceForIndividual {
    margin-top: 40px;
}

.individualLine {
    margin-top: 20px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.individualLine input {
    max-width: 170px;
}

.personName {
    width: 50%;
}

.price {
    width: 25%;
}

.personsPrice {
    width: 40px;
}

.delete {
    width: 10%;
}

.add {
    margin-top: 20px;
}

.individualTips,
.delivery {
    display: block;
    margin-top: 20px;
}

.individualTips input,
.tips input,
.delivery input {
    width: 30px;
}
